html, body {
	background-color: #fffbe4;
	font-family: 'Lora', serif;
}

.container {
	padding: 25px;
	background-color: #fffbe4;
}

#submissionForm, #loginForm {
	display: block;
}

.navbar-brand, h1,h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.h1, h1 {
	font-size: 3rem;
}

#headerTitle {
	padding-bottom: 25px;
}

label {
	display: block;
	text-align: left;
}

input, button {
	margin-top: 1em;
	margin-bottom: 1em;
}

#site_name {
	text-decoration: none;
	color: black;
}

table, th, td {
	border: 1px solid black;
}