.container {
	padding: 25px;
}

#theForm {
	display: block;
}

.formQuestion {
	display: block;
	text-align: center;
}

h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: center;
}

h2 {
	font-family: 'Lora', serif;
}

label {
	vertical-align: middle;
}