html, body {
	background-color: #fffbe4;
}

.container {
	padding: 25px;
	background-color: #fffbe4;
}

#submissionForm, #loginForm {
	display: block;
}


.formQuestion {
	display: block;
	padding-bottom: 20px;
}


h1,h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.h1, h1 {
	font-size: 3rem;
}

#headerTitle {
	padding-bottom: 25px;
}

body {
	font-family: 'Lora', serif;
}

label {
	display: block;
	text-align: left;
}

input, button {
	margin-top: 1em;
	margin-bottom: 1em;
}